body {
    background-color: rgb(221, 247, 255);
}

h1 {
    color: pink;
    text-align: center;
}

.p {
    font-family: "Helvetica";
    font-size: medium;
    text-align: center;
    color: black;
}

h2 {
    color: palevioletred;
    text-align: justify;}
