body {
    background-color: rgb(221, 247, 255);
    padding: 10%;
}

h1 {
    color: pink;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
}

.p {
    font-family: "Helvetica";
    font-size: medium;
    text-align: center;
    color: black;
}

h2 {
    color: palevioletred;
    text-align: justify;
    margin: 20px 0 20px 0;

}



.carousel-control-prev,.carousel-control-next{
    width: 10px;
    height: 20px;
    background-color: green;
}

img{
    background-color: aquamarine;
}

  
  h3{
    color: rgb(223, 193, 198);
     padding-top: 30px;

  }

#about-us{

}

.p1{

}

.p2{

}

.p3{

}