body {
    background-color: rgb(221, 247, 255);
    padding: 10%;
}

h1 {
    color: pink;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
}

.p {
    font-family: "Helvetica";
    font-size: medium;
    text-align: center;
    color: black;
}

h2 {
    color: palevioletred;
    text-align: justify;
    margin: 20px 0 20px 0;

}



.carousel-control-prev,.carousel-control-next{
    width: 10px;
    height: 20px;
    background-color: green;
}



  
  h3{
    color: rgb(223, 193, 198);
     padding-top: 30px;

  }




.booksandcomics{
    margin-bottom: 150px;
    margin-top: 150px;
}

.carousel{
    border-bottom: 5px solid lightblue;
}



* {
    box-sizing: content-box;
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }
  .mySlides {
    display: none
  }
.mySlides img{
    border: red 3px;

  }
  .slideshow-container {
      
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
