body {
    padding: 7% 7% 100% 10%;
    font-family: Verdana, sans-serif;
    margin: 0
}

h1 {
    color: pink;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
    font-weight: bolder;
}


.p {
    font-size: medium;
    text-align: center;
    color: black;
}

.p12{
    margin-top: 40px;
}

.detailcardtext{
    font-size: medium;
    text-align: left;
    color: palevioletred;
    font-weight: bold;
    background-color: lightpink;
}

h2 {
    color: pink;
    text-align: justify;
    margin: 20px 0 20px 0;
    font-weight: bold;
}

h3 {
    color: white;
    margin: 20px 0 0 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.card-box{
    margin-bottom: 200px;
    background-color: palevioletred!important;
}

hr{
    border-top: 5px dashed pink;
}

.navbar img{
    background-color: white!important;
    padding: 20px;
    width: auto;
    height: 200px;
}

.navbar li{
    background-color: lightpink;
    border-radius: 20px;
    padding: 10px;
    margin-right: 15px;
}

.navbar a{
    color: palevioletred;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

.logo{
    background-color: red;
    border: aquamarine;
    height: 120px!important;
    margin-bottom: 100px;
}

h1 {
    color: pink;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
    font-weight: bolder;
}

.field-0{
    position: absolute;
}

.field-1{
    position: absolute;
    top: -690px;
    left: 730px;
}
.field-2{
    position: absolute;
    top: -1310px;
    left: 1100px;
}
.field-3{
    position: absolute;
    top: -2000px;
    left: 335px;
}

.field-4{
    position: absolute;
    top: -2110px;
    left: -15px;
}
.field-5{
    position: absolute;
    top: -2710px;
    left: 350px;
}
.field-6{
    position: absolute;
    top: -3400px;
    left: 700px;
}
.field-7{
    position: absolute;
    top: -4070px;
    left: 1070px;
}

.edition{
    margin-bottom: 20px;
    background-color: lightpink;
}


